<br><br>
<div class="container">
    <div class="row">
        {{#each restaurants}}
        <div class="column">
            <div class="card"style="margin-bottom: 20%;" >
              
                    <img src="{{imageURL}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><b>{{name}}</b></h5>
                        <p class="card-text">{{type}}</p>
                    </div>
                
            </div>
        </div>
        {{/each}}
    </div>
</div>